# Exported from Render on 2025-11-21T17:39:05Z
version: "1"
projects:
- name: tp
  environments:
  - name: Production
    databases:
    - name: tp04-db
      databaseName: tp04
      user: tp04
      plan: free
      region: frankfurt
      ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
      postgresMajorVersion: "17"
    services:
    - type: web
      name: tp06_lesecq_charles
      runtime: static
      repo: https://github.com/clesecq/tp06_lesecq_charles
      buildCommand: pnpm install && pnpm build
      staticPublishPath: dist/tp/browser
      routes:
      - type: rewrite
        source: /*
        destination: /index.html
      autoDeployTrigger: commit
      rootDir: front
    - type: web
      name: tp_api_lesecq_charles
      runtime: node
      repo: https://github.com/clesecq/tp06_lesecq_charles
      plan: free
      envVars:
      - key: DB_USER
        fromService:
          name: tp04-db
          property: user
      - key: DB_PORT
        fromService:
          name: tp04-db
          property: port
      - key: DB_PASSWORD
        fromService:
          name: tp04-db
          property: password
      - key: DB_NAME
        fromService:
          name: tp04-db
          property: databaseName
      - key: DB_HOST
        fromService:
          name: tp04-db
          property: host
      - key: ACCESS_TOKEN_SECRET
        generateValue: true
      region: frankfurt
      buildCommand: pnpm install && pnpm build
      startCommand: pnpm start
      autoDeployTrigger: commit
      rootDir: api

